  <% if logged_in? %>
    <div id="post-button-div">
      <%= link_to "Sprinkle some glitter", new_post_path, id:"post-button"%>
    </div>
  <%end%>

<div>
  <h1 id="posts-title">All the glitter</h1>
  <% @posts.each do |post| %>
    <div class="post-div">
      <div>
        <p><%=post.body%> </p>
      </div>

      <div>
        <p class="posted-by">posted by <%= User.find(post.user_id).username %> </p>
      </div>
      <div id="likes-div">
        <div>
          <p id="number_likes_<%= post.id %>">
            <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'sparkle' : 'sparkles'%>
          </p>
        </div>

        <% if current_user !=  User.find(post.user_id) && logged_in?%>
          <div id="like_button_<%= post.id %>", class="like-button-div">
            <%= button_to 'add sparkles', post_likes_path(post), remote: true, class: "like-button"%>
          </div>
        <% end %>

      <% if current_user ==  User.find(post.user_id)%>
        <div class="delete-button">
          <%= link_to(image_tag("broomdelete.png"), post_path(post), method: :delete,
              data: { confirm: "Are you sure?" }, id: "sweep-button" )%>
        </div>
      <% end %>
    </div>

    </div>
  <% end %>
</div>
