<% if logged_in? %>
  <div id="post-button-div">
    <%= link_to "Sprinkle some glitter", new_post_path, id:"post-button"%>
  </div>
<%end%>

<div>
  <h1 id="posts-title">All the glitter</h1>
  <% @posts.each do |post| %>
    <div class="post-div">
    <div class="post-body">
      <p><%=post.body%> </p>
    </div>
    <div class="posted-by">
      <p>posted by <%= post.user.username %> </p>
      <p><%=post.created_at.strftime("%Y-%m-%d")%> </p>
    </div>

    <div id="likes-div">
      <div>
        <p id="number_likes_<%= post.id %>">
        <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'sparkle ✨' : 'sparkles ✨'%>
        </p>
      </div>

      <% if current_user !=  post.user && logged_in? %>
        <div id="like_button_<%= post.id %>", class="like-button-div">
          <%= button_to 'add sparkles', post_likes_path(post), remote: true, class: "like-button" %>
        </div>
      <% end %>
    </div>

    <div class="comments-content">
      <% post.comments.filter(&:persisted?).each do |comment| %>
        <div class="comments-div">
          <p class="comments-body"> <%= comment.message %></p>
          <p class="comments-user"> <%= comment.user.username %></p>
        </div>
      <% end %>

      <% if logged_in? %>
        <div id="comment-button-div">
          <!-- <h4 id="comments-title">Comments:</h4> -->

          <%= form_with model: [ post, post.comments.build ] do |form| %>
            <p class="comment-text-area"> <%= form.text_area :message, placeholder: "reply..." %> </p>
            <p class="comments-reply"> <%= form.submit "reply!", class: 'reply' %> </p>
          <% end %>
        </div>
      <% end %>

    </div>

    <% if current_user ==  post.user %>
      <div class="delete-button">
        <%= link_to(image_tag("broomdelete.png"), post_path(post), method: :delete,
        data: { confirm: "Are you sure?" }, id: "sweep-button" )%>
      </div>
    <% end %>

    </div>
  <% end %>
</div>
